/* line 1, ../sass/_base.scss */
html {
  background-color: #89ECDA;
  background-attachment: fixed;
}

/* line 6, ../sass/_base.scss */
body {
  font-family: 'Blogger Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  margin: 70px auto;
}

/* line 12, ../sass/_base.scss */
.content {
  margin: 0 auto;
  text-align: center;
  background-color: #FFF;
  opacity: 0.9;
  width: 70%;
  padding: 10px;
  box-shadow: 0 0 20px 20px #FFF;
}

/* line 22, ../sass/_base.scss */
.content a {
  color: #1f375b;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

/* line 29, ../sass/_base.scss */
h3 {
  color: #ff8e34;
  font-size: 30px;
}

/* line 34, ../sass/_base.scss */
h4 {
  color: #ff8e34;
  font-size: 20px;
}

/* line 1, ../sass/_timeline.scss */
.description {
  display: none;
}

/* line 5, ../sass/_timeline.scss */
h4 {
  margin-bottom: 5px;
}

/* line 9, ../sass/_timeline.scss */
h6.header {
  margin-top: 0px;
  color: #376078;
}

/* line 14, ../sass/_timeline.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 21, ../sass/_timeline.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #89ECDA;
}

/* line 33, ../sass/_timeline.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

/* line 39, ../sass/_timeline.scss */
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, ../sass/_timeline.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}

/* line 51, ../sass/_timeline.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

/* line 56, ../sass/_timeline.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 20px;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* line 68, ../sass/_timeline.scss */
.cd-date {
  margin-top: 10px;
}

/* line 73, ../sass/_timeline.scss */
.cd-timeline-img.cd-picture {
  background: #89ECDA;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 147, ../sass/_timeline.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #89ECDA;
}

/* line 157, ../sass/_timeline.scss */
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../sass/_timeline.scss */
.cd-timeline-content h2 {
  color: #89ECDA;
}

/* line 169, ../sass/_timeline.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

/* line 175, ../sass/_timeline.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

/* line 180, ../sass/_timeline.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 186, ../sass/_timeline.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

/* line 195, ../sass/_timeline.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

/* line 200, ../sass/_timeline.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

/* line 207, ../sass/_timeline.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  /* line 221, ../sass/_timeline.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 225, ../sass/_timeline.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 229, ../sass/_timeline.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 2, ../sass/_home.scss */
.home-background {
  background-color: #89ECDA;
}

/* line 6, ../sass/_home.scss */
.panels, h1 {
  width: 100%;
  text-align: center;
}

/* line 11, ../sass/_home.scss */
.icon {
  width: 30%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

/* line 18, ../sass/_home.scss */
.icon img {
  display: block;
  margin: 0 auto;
}

/* line 23, ../sass/_home.scss */
.icon a {
  margin-top: 10px;
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 26px;
}

/* line 31, ../sass/_home.scss */
#heading {
  margin: 70px auto;
  font-size: 50px;
  color: #ff8e34;
  width: 67.75%;
  line-height: 0px;
  padding: 0px;
  border-top: 5px solid #1f375b;
  border-bottom: 5px solid #1f375b;
}

@media only screen and (max-width: 704px) {
  /* line 44, ../sass/_home.scss */
  #heading {
    height: 165px;
    line-height: normal;
  }

  /* line 48, ../sass/_home.scss */
  h1 {
    margin-top: 23px;
  }
}
@media only screen and (max-width: 680px) {
  /* line 54, ../sass/_home.scss */
  .nav-bar {
    padding-bottom: 40px !important;
  }

  /* line 57, ../sass/_home.scss */
  #title {
    display: none;
  }

  /* line 60, ../sass/_home.scss */
  #links {
    float: none !important;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  /* line 67, ../sass/_home.scss */
  h3 {
    font-size: 25px !important;
  }

  /* line 70, ../sass/_home.scss */
  h5 {
    font-size: 15px !important;
  }

  /* line 73, ../sass/_home.scss */
  p {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 79, ../sass/_home.scss */
  .icon img {
    height: 90px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 85, ../sass/_home.scss */
  .icon img {
    height: 80px;
  }

  /* line 88, ../sass/_home.scss */
  .nav-bar img {
    height: 30px !important;
  }
}
@media only screen and (max-width: 440px) {
  /* line 94, ../sass/_home.scss */
  #heading {
    height: 135px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 345px) {
  /* line 101, ../sass/_home.scss */
  #heading {
    height: 70px;
    font-size: 30px;
  }

  /* line 105, ../sass/_home.scss */
  h1 {
    margin-top: 0;
  }

  /* line 108, ../sass/_home.scss */
  .icon a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 240px) {
  /* line 114, ../sass/_home.scss */
  #heading {
    height: 110px;
    font-size: 30px;
  }
}
/* line 2, ../sass/_header.scss */
h2 {
  color: #1f375b;
  float: left;
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 11, ../sass/_header.scss */
.nav-bar img {
  height: 40px;
  display: inline-block;
  text-align: center;
}

/* line 17, ../sass/_header.scss */
.nav-bar {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* line 24, ../sass/_header.scss */
#title {
  float: left;
  position: relative;
}

/* line 29, ../sass/_header.scss */
#links {
  float: right;
}

/* line 1, ../sass/_footer.scss */
footer {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 100px;
  height: 110px;
  font-size: 10px;
  color: #000;
}

/* line 11, ../sass/_footer.scss */
footer a {
  color: #1f375b;
}

/* line 1, ../sass/_about.scss */
.about-background {
  background: linear-gradient(135deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color: #89ecda;
  background-size: 64px 128px;
  background-attachment: fixed;
}

/* line 10, ../sass/_about.scss */
h5 {
  color: #1f375b;
  font-size: 20px;
}

/* line 1, ../sass/_contact.scss */
.contact-background {
  background: linear-gradient(135deg, #FFFFFF 25%, transparent 25%) -50px 0, linear-gradient(225deg, #FFFFFF 25%, transparent 25%) -50px 0, linear-gradient(315deg, #FFFFFF 25%, transparent 25%), linear-gradient(45deg, #FFFFFF 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #89ecda;
  background-attachment: fixed;
}

/* line 12, ../sass/_contact.scss */
#entry_0, #entry_6, #entry_13 {
  width: 100%;
}

/* line 16, ../sass/_contact.scss */
#entry_13 {
  height: 100px;
}

/* line 20, ../sass/_contact.scss */
.ss-form-title {
  font-size: 32px;
}

/* line 24, ../sass/_contact.scss */
.ss-footer {
  padding-top: 30px;
  font-size: 10px;
}
/* line 27, ../sass/_contact.scss */
.ss-footer a {
  font-size: 10px;
}

/* line 32, ../sass/_contact.scss */
input,
textarea {
  width: 100%;
  font: 15px "Century Gothic", sans-serif;
  padding: 7px;
  border: 1px solid #89ecda;
}

/* line 40, ../sass/_contact.scss */
input[type=submit] {
  width: 150px;
  background-color: #89ecda;
  color: #1f375b;
}

/* line 46, ../sass/_contact.scss */
input {
  width: 100%;
}

/* line 1, ../sass/_projects.scss */
.projects-background {
  background-color: white;
  background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #89ecda 99%), radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, #89ecda 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}
