.about-background {
    background:
        linear-gradient(135deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
        linear-gradient(225deg, #89ecda 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#89ecda;
    background-size: 64px 128px;
    background-attachment: fixed;
}

h5 {
    color: #1f375b;
    font-size: 20px;
}
