html {
    background-color: #89ECDA;
    background-attachment: fixed;
}

body {
    font-family: 'Blogger Sans', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    margin: 70px auto;
}

.content {
    margin: 0 auto;
    text-align: center;
    background-color: #FFF;
    opacity: 0.9;
    width: 70%;
    padding: 10px;
    box-shadow: 0 0 20px 20px #FFF;
}

.content a {
    color: #1f375b;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

h3 {
    color: #ff8e34;
    font-size: 30px;
}

h4 {
    color: #ff8e34;
    font-size: 20px;
}

