.contact-background {
    background:
        linear-gradient(135deg, #FFFFFF 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #FFFFFF 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #FFFFFF 25%, transparent 25%),
        linear-gradient(45deg, #FFFFFF 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #89ecda;
    background-attachment: fixed;
}

#entry_0, #entry_6, #entry_13 {
    width: 100%;
}

#entry_13 {
    height: 100px;
}

.ss-form-title {
    font-size: 32px;
}

.ss-footer {
    padding-top: 30px;
    font-size: 10px;
    a {
        font-size: 10px;
    }
}

input,
textarea {
    width: 100%;
    font: 15px "Century Gothic", sans-serif;
    padding: 7px;
    border: 1px solid #89ecda;
}

input[type=submit] {
    width: 150px;
    background-color: #89ecda;
    color: #1f375b;
}

input {
    width: 100%;
}
