
h2 {
    color: #1f375b;
    float: left;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-bar img {
    height: 40px;
    display: inline-block;
    text-align: center;
}

.nav-bar {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
}

#title {
    float: left;
    position: relative;
}

#links {
    float: right;
}
