
.home-background {
    background-color: #89ECDA;
}

.panels, h1 {
    width: 100%;
    text-align: center;
}

.icon {
    width: 30%;
    height: 100px;
    display: inline-block;
    text-align: center;
}

.icon img {
    display: block;
    margin: 0 auto;
}

.icon a {
    margin-top: 10px;
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 26px;
}

#heading {
    margin: 70px auto;
    font-size: 50px;
    color: #ff8e34;
    width: 67.75%;
    line-height: 0px;
    padding: 0px;
    border-top: 5px solid #1f375b;
    border-bottom: 5px solid #1f375b;
}


@media only screen and (max-width: 704px) {
    #heading {
        height: 165px;
        line-height: normal;
    }
    h1 {
        margin-top: 23px;
    }
}

@media only screen and (max-width: 680px) {
    .nav-bar {
        padding-bottom: 40px !important;
    }
    #title {
        display: none;
    }
    #links {
        float: none !important;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 25px !important;
    }
    h5 {
        font-size: 15px !important;
    }
    p {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 500px) {
    .icon img {
        height: 90px;
    }
}

@media only screen and (max-width: 500px) {
    .icon img {
        height: 80px;
    }
    .nav-bar img {
        height: 30px !important;
    }
}

@media only screen and (max-width: 440px) {
    #heading {
        height: 135px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 345px) {
    #heading {
        height: 70px;
        font-size: 30px;
    }
    h1 {
        margin-top: 0;
    }
    .icon a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 240px) {
    #heading {
        height: 110px;
        font-size: 30px;
    }
}
