
{% extends "layout.html" %}
{% block body %}

{% include "header.html" %}

<script>
    var html_tag = document.getElementsByTagName("html")[0];
    html_tag.className = "about-background";
</script>

<section id="about" class="content">

    <h3>
        About
    </h3>

    <h5>Hi :) My name is Hayley and I am a programmer, nerd, tweeter, feminist and tech shirt fanatic.</h5>
    <p>I am awesome.</p>

</section>

{% endblock %}
