
{% extends "layout.html" %}
{% block body %}

{% include "header.html" %}

<script>
    var html_tag = document.getElementsByTagName("html")[0];
    html_tag.className = "contact-background";
</script>

<section class="content ss-base-body" dir="ltr" itemscope="" itemtype="http://schema.org/CreativeWork/FormObject">
    <h3>
        Contact
    </h3>

            <meta itemprop="name" content="Contact Me">
            <meta itemprop="embedUrl" content="https://docs.google.com/spreadsheet/embeddedform?formkey=dG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA">
            <meta itemprop="faviconUrl" content="//ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png">

            <div class="ss-form-container">

                <div class="ss-form-heading">

                    <hr class="ss-email-break" style="display:none;">

                    <div class="ss-required-asterisk"></div>

                </div>

                <div class="ss-form">

                    <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA&amp;ifq" method="POST" id="ss-form">

                    <br>

                    <div class="errorbox-good">
                        <div class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">

                                <label class="ss-q-title" for="entry_0">Name
                                    <span class="ss-required-asterisk">*</span>
                                </label>

                                <label class="ss-q-help" for="entry_0"></label>

                                <br>

                                <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0">
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="errorbox-good">
                        <div class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">
                                <label class="ss-q-title" for="entry_6">Email
                                    <span class="ss-required-asterisk">*</span>
                                </label>
                                <label class="ss-q-help" for="entry_6"></label>
                                <br>
                                <input type="text" name="entry.6.single" value="" class="ss-q-short" id="entry_6">
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="errorbox-good">
                        <div class="ss-item ss-item-required ss-text">
                            <div class="ss-form-entry">

                                <label class="ss-q-title" for="entry_13">Message
                                    <span class="ss-required-asterisk">*</span>
                                </label>
                                <br>

                                <label class="ss-q-help" for="entry_13"></label>
                                <textarea name="entry.13.single" class="ss-q-short" id="entry_13"></textarea>
                            </div>
                        </div>
                    </div>

                    <br>

                    <input type="hidden" name="pageNumber" value="0">
                    <input type="hidden" name="backupCache" value="">

                    <div class="ss-item ss-navigate"><div class="ss-form-entry">
                    <input type="submit" name="submit" value="Submit">

                </div>
            </div>
        </form>


        <script type="text/javascript">

          (function() {
            var divs = document.getElementById('ss-form').
            getElementsByTagName('div');
            var numDivs = divs.length;
            for (var j = 0; j < numDivs; j++) {
                if (divs[j].className == 'errorbox-bad') {
                    divs[j].lastChild.firstChild.lastChild.focus();
                    return;
                }
            }
            for (var i = 0; i < numDivs; i++) {
                var div = divs[i];
                if (div.className == 'ss-form-entry' &&
                    div.firstChild &&
                    div.firstChild.className == 'ss-q-title') {
                        div.lastChild.focus();
                    return;
                    }
                }
            })();
         </script>

    </div>


    <div class="ss-footer">

        <div class="ss-attribution"></div>
        <div class="ss-legal">
            <span class="ss-powered-by">Powered by <a href="http://docs.google.com">Google Docs</a></span>
            <span class="ss-terms"><small><a href="https://docs.google.com/spreadsheet/reportabuse?formkey=dG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA&amp;source=https://docs.google.com/spreadsheet/viewform?formkey%3DdG9ZSlJRMFptMEQ3b0R0UkFIX01Mb2c6MA">Report Abuse</a>
            -
            <a href="http://www.google.com/accounts/TOS">Terms of Service</a>
            -
            <a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></small></span>
        </div>
    </div>

</div>

</section>

{% endblock %}
