<div class="nav-bar">
    <div id="title">
        <a href="{{ url_for('index') }}"><h2>Hayley van Waas</h2></a>
    </div>
    <div id="links">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/home_icon.png') }}" alt="home"></a>
        <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='images/about_icon.png') }}" alt="about"></a>
        <a href="{{ url_for('projects') }}"><img src="{{ url_for('static', filename='images/projects_icon.png') }}" alt="projects"></a>
        <a href="{{ url_for('contact') }}"><img src="{{ url_for('static', filename='images/contact_icon.png') }}" alt="contact"></a>
        <a href="https://www.twitter.com/hayleyavw" target="_blank"><img src="{{ url_for('static', filename='images/twitter_icon.png') }}" alt="twitter"></a>
        <a href="https://plus.google.com/u/0/+HayleyvanWaas" target="_blank"><img src="{{ url_for('static', filename='images/g_plus_icon.png') }}" alt="G+"></a>
    </div>
</div>
