
{% extends "layout.html" %}
{% block body %}

<script>
    var html_tag = document.getElementsByTagName("html")[0];
    html_tag.className = "home-background";
</script>

<section id="home">

    <section class="panels">
        <div id="about-div" class="icon">
            <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='images/about_icon.png') }}" alt="about">
            About</a>
        </div>
        <div id="projects-div" class="icon">
            <a href="{{ url_for('projects') }}"><img src="{{ url_for('static', filename='images/projects_icon.png') }}" alt="projects">
            Projects</a>
        </div>
        <div id="contact-div" class="icon">
            <a href="{{ url_for('contact') }}"><img src="{{ url_for('static', filename='images/contact_icon.png') }}" alt="contact">
            Contact</a>
        </div>
    </section>
    <section id="heading">
        <h1>HAYLEY VAN WAAS</h1>
    </section>

    <section class="panels">
        <div id="twitter-div" class="icon">
            <a href="https://www.twitter.com/hayleyavw" target="_blank"><img src="{{ url_for('static', filename='images/twitter_icon.png') }}" alt="twitter">
            Twitter</a>
        </div>
        <div id="plus-div" class="icon">
            <a href="https://plus.google.com/u/0/+HayleyvanWaas" target="_blank"><img src="{{ url_for('static', filename='images/g_plus_icon.png') }}" alt="G+">
            Google Plus</a>

        </div>
    </section>

</section>

{% endblock %}
