<!DOCTYPE html>
<html>

    <head>
        <title>hayleyavw</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="Hayley van Waas, programmer, blog, gather workshops, computer science, feminist, tech, articles">
        <meta name="description" content="Website of Hayley van Waas, a programmer, nerd, tweeter, feminist and tech shirt enthusiast.">
        <meta name="author" content="Hayley van Waas">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">



        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/foundation.css') }}">-->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/style.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>-->
    </head>

    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-61782039-1', 'auto');
          ga('send', 'pageview');

        </script>

        {% block body %} {% endblock %}

    </body>
    <footer>
    <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

    </footer>
</html>
