
{% extends "layout.html" %}
{% block body %}

{% include "header.html" %}

<script>
    var html_tag = document.getElementsByTagName("html")[0];
    html_tag.className = "projects-background";
</script>

<section class="content">
    <h3>
        Projects and Events
    </h3>

    <p>
        The timeline below shows a few of the projects I have been involved with and the events I have been to over the last couple of years.
        <br>
            If you would like to know more about a particular project, feel free to <a href="{{ url_for('contact') }}">contact me</a> ☺
    </p>


    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Google Internship</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    Over the summer I interned on the Bandwidth SRE team with Google Sydney. I worked on an internal monitoring tool, which has already proved useful to other SRE teams around Google.
                   </p>
                </div>
                <span class="cd-date">Nov 2015 - Feb 2016</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>CS Field Guide</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    I contribute to the <a href="http://www.csfieldguide.org.nz/">Computer Science Field Guide</a>, which is an online interactive resource for high school students learning about computer science.
                   </p>
                </div>
                <span class="cd-date">March 2015 - Present</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h4>Gather Workshops</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        Gather is on a mission to increase the uptake of the Computer Science subject in high schools. Our strategy is to take workshops around the country at different high schools, for teachers and for students. In my role as a presenter for the Python workshops, I work with both students and teachers to grow their appreciation for programming and its place in the curriculum.
                    </p>
                    <p>
                        Gather is an industry funded operation, so if you think you can help us out please <a href="contactform">contact me.</a>
                    </p>
                    <p>
                        To learn more about Gather, visit the <a href="http://gathergather.co.nz/workshops/" target="_blank"> website</a> or follow us on Twitter.
                    </p>
                        <a href="https://twitter.com/gatherworkshops" class="twitter-follow-button" data-show-count="false">Follow @gatherworkshops</a>
                        <script>
                            !function(d,s,id) {
                                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                                if(!d.getElementById(id)) {
                                    js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js,fjs); }
                                } (document, 'script', 'twitter-wjs');
                        </script>
                        </p>
                    </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">July 2014 - Present</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Kiwi Foo</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    I was honoured to be invited to Kiwi Foo this year, along with nearly 180 other amazing people from all around New Zealand, and even a few from overseas. I attended many sessions, with topics ranging from ethical security to implanting false memories in people. Kiwi Foo was a great way to connect with other people who are passionate about research and making a positive impact on our society, it provided new motivation to keep up with my CS outreach work!
                   </p>
                </div>
                <span class="cd-date">March 2016</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Anita Borg Birthday Celebration</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                     I went along to the Anita Borg Birthday Celebration at Google as an industry representative and a member of the panel where women from different companies talked about their journeys into the tech industry.
                   </p>
                </div>
                <span class="cd-date">January 2016</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>NCSS</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    <a href="http://ncss.edu.au/summer-school">NCSS</a> is a programming summer school which I attended as a student in 2014 and 2015, and this year I went along again to a couple of the evening events as an industry tutor.
                   </p>
                </div>
                <span class="cd-date">January 2016</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>GPN Hour Of Code</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    While I was in Sydney for the summer I volunteered at the Girls' Programming Network's Hour of Code event as a tutor.
                   </p>
                </div>
                <span class="cd-date">December 2015</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Kiwi Pycon + Pyladies</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    This was my second Pycon, and first time hosting the Pyladies Lunch. Always a great conference, this year was no different! Python is one of my favourite languages to work with, so it's always interesting to hear about how people are pushing it's limits and what new applications people have found for it in industry.
                   </p>
                </div>
                <span class="cd-date">September 2015</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>ECOOP 2015</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    This year I was lucky enough to be sponsored by NetPL to travel to Prague for <a href="http://2015.ecoop.org/">ECOOP 2015</a> as student volunteer. It was a great conference in a great venue, with some fantastic people speaking on a number of different topics.
                   </p>
                </div>
                <span class="cd-date">July 2015</span>
           </div>
        </div>


        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>CIO Summit</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    At the CIO Summit I was one of eight speakers on a panel where we discussed what we are doing to get youth excited about the tech industry, and what support we need to keep this going.
                   </p>
                </div>
                <span class="cd-date">June 2015</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>eResearch 2015</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    At eResearch 2015 I gave a presentation on the topic of "Visualising Network Data." This was based around the the WebGL project mentioned further down the page.
                    </p>
                </div>
                <span class="cd-date">March 2015</span>
           </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Webstock</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        I was very lucky to be gifted a ticket to attend Webstock 2015! It was a great event, with incredible speakers.
                    </p>
                    <!--a href="#0" class="cd-read-more">Read more</a-->
                </div>
                <span class="cd-date">February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>NCSS</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        After having heaps of fun at NCSS in 2014, I was thrilled to be invited back for a second round! This time I was in a smaller team, and together we worked with arduinos on projects designed to promote health.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">January 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>Data Visualisation with WebGL</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        I recently worked on a data visualisation project for a networking company here in New Zealand. This involved creating a 3D representation of their network by overlaying network data onto a model of New Zealand. This was done using Three.js, a library for JavaScript that runs on top of WebGL.
                    </p>
                    <p>
                        A demo of the 3D point cloud of NZ can be seen <a href="/3dnz">here</a>. (Press 'c' to watch the animation).
                        If the link does not work (give it a few seconds...), try it in Chrome (the web browser with the most WebGL support).
                    </p>
                    <p>
                        A screenshot of the full version features in <a href="http://www.computerworld.co.nz/article/568840/insight-enabling-nz-research-innovation-flourish/" target="_blank">this article</a>.
                    </p>
                    </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>Escape (Text-Based Game)</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        This is a game that I helped my cousin, Liam, to build. The idea is to try and escape from a mansion, but plenty of mythical creatures and locked doors stand in your way...
                    </p>
                    <p>
                        Our Bitbucket repo is <a href="https://hayleyavw@bitbucket.org/LiamSharpe/textbasedgame.git" target="_blank">here</a> if you're interested.
                    </p>
                    <p>
                        Also make sure to check out Liam on Twitter!
                    </p>
                    <a href="https://twitter.com/TheCrowsJoker" class="twitter-follow-button" data-show-count="false">Follow @TheCrowsJoker</a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }
                        (document, 'script', 'twitter-wjs');
                    </script>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>CS4HS</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        Computer Science for High Schools is a conference run every year, by Universities all over the world. The goal of the conference is to help teachers gain confidence in the new computer science curriculums being introduced to schools. I was involved as a presenter and a tutor.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">December 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Google Anita Borg Retreat</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        I was selected as a Junior Anita Borg Scholar. This involved spending a couple of days at Google (Sydney) to participate in workshops where we brainstormed initiatives to support women in tech, and listened to presentations about different aspects of the tech industry. It was a great experience and I met an amazing group of people!
                    </p>
                </div>
                <span class="cd-date">October 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Kiwi Pycon</h4>
                <div class="description">
                <p>
                </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">September 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>Startup Weekend & Rover</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        Recently I attended an education themed Start Up Weekend in Wellington. This was a fantastic experience, in less than 48 hours our team of only 4 designed a business and a prototype for our product.
                    </p>
                    <p>
                        Our team's business idea was a Mobile Audience Response system, or a "MARS". Our application's name? Rover. Rover is a web app designed to increase student engagement, targetted at university lectures, but also suitable for high school classrooms. It works by allowing the teacher to ask the students questions via their laptops and/or mobile devices, and they can then see the response in real time.
                    </p>
                    <p>
                        Behind Rover is a PHP framework, along with SQL, HTML5, CSS3 and JavaScript code, which can be viewed <a href="https://hayleyavw@bitbucket.org/tanyagray/engageme.git" target="_blank">here.</a>
                    </p>
                    <p>
                        Visit the <a href="http://startupweekend.org/" target="_blank">Start Up Weekend</a> website to register for a Start Up Weekend near you.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">August 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>Web Rangers</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        I came 3rd place in a competition sponsored by Google and Netsafe, for which I created an Internet Safety campaign. This involved making a video, and giving presentations to different schools, teachers, and parents in my region.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">August 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div>
            <div class="cd-timeline-content">
                <h4>Nethui</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">July 2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>NCEA Stats</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        This app aids students in keeping track of their NCEA credits, a time consuming and sometimes frustrating task performed by thousands of senior high school students every year. The app is was written in Java, with SQLite for data storage.
                    </p>
                    <p>
                        View the app on <a href="https://play.google.com/store/apps/details?id=com.hayleyavw.nceatracker" target="_blank">Google Play</a> or check out the<a href="https://hayleyavw@bitbucket.org/hayleyavw/nceastats.git" target="_blank"> Bitbucket repo </a> to view the code.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">April 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>This Website</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        Behind this site is a mix of languages, including HTML5, CSS3, JavaScript, SQLite and Python. It is built using the Flask framework.
                    </p>
                    <p>
                        The source code can be viewed <a href="https://hayleyavw@bitbucket.org/hayleyavw/flaskr.git" target="_blank"> here </a> via a public Bitbucket Repository.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">March 2014 - February 2015</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"></div>
            <div class="cd-timeline-content">
                <h4>NCSS & Wish List</h4>
                <h6 class="header">Read more</h6>
                <div class="description">
                    <p>
                        A social media inspired web application. This is a website which allows users to log on, create a list of things they want for Christmas/Birthday/Anniversary etc, which their friends can then see.
                    </p>
                    <p>
                        This was created by a team of about 15 students, along with 5 teachers and tutors at the NCSS Summer School, in less than 10 days. My role was to create and maintain the tornado server, while other team members were working on the database management, styling, template engine etc.
                    </p>
                    <p>
                        Wish List was created in Python, HTML5, CSS3 and SQLite.
                    </p>
                </div>
                <!--a href="#0" class="cd-read-more">Read more</a-->
                <span class="cd-date">January 2014</span>
            </div> 
        </div>
    </section>
</section>

<script>

    $(".header").click(function () {

    $header = $(this);
    //getting the next element
    $content = $header.next();
    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
     $content.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
            $header.text(function () {
                //change text based on condition
                return $content.is(":visible") ? "Hide" : "Read more";
            });
        });

});
</script>

{% endblock %}
